<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Wind Speed</title>
</head>
<body>
<div id="show_result" style="text-align: center; display: none;">
    <div style="border-radius: 5px; display: inline-block; margin: 10px; font-size: 22px; padding: 10px; color: indianred; background-color: beige;">
        The wind speed in <span id="city_span"></span> right now is <span id="wind_span"></span> mph
    </div>
</div>
<br>
<br>
<div style="text-align: center;">
    <input id="zip_input" autofocus style="padding: 10px; font-size: 22px;" placeholder="Zip Code" />
</div>
<div style="text-align: center;">
    <div class="btn btn-info btn-lg" style="cursor: pointer; margin: 10px;" onclick="get_zip_code();">
        Get me the wind speed
    </div>
</div>


</div>

<script>
    function get_zip_code(){
        var zip_value = $("#zip_input").val()
        console.log(zip_value);


         $.ajax(
            {
                url: "get_wind_speed/",
                data: {
                    zip_value: zip_value,
                },
                success: function(data)
                {

                    $("#city_span").text(data['city']);
                    $("#wind_span").text(data['wind_speed']);
                    $('#show_result').show()


                }
            }
        )
    }
</script>
</body>
</html>